@import "./variables.css";

@import "./home-page.css";

@import "./user/dashboard-page.css";
@import "./user/login-page.css";
@import "./user/register-page";
@import "./user/top-bar.css";

@import "./product-catalog/search-filters.css";
@import "./product-catalog/filter-select.css";
@import "./product-catalog/product-card.css";
@import "./product-catalog/product-catalog-page.css";
@import "./product-catalog/pagination.css";

@import "./cart/cart-item-card.css";
@import "./cart/cart-page.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--white);
  color: var(--text);
  font-family: "Open Sans", sans-serif;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

section {
  padding: 1.2rem;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  font-weight: var(--font-weight-regular);
  letter-spacing: 0.2rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: var(--font-weight-regular);
  letter-spacing: 0.1rem;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  letter-spacing: 0.07rem;
  line-height: 2;
}
