.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  user-select: none;
}

.pagination-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--boarder-white);
  border-radius: 50%;
  background-color: var(--white);
  color: var(--text);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.pagination-button:hover:not(:disabled) {
  background-color: #f3f4f6;
  border-color: #d1d5db;
}

.pagination-button:disabled {
  color: #d1d5db;
  cursor: not-allowed;
}

.pagination-info {
  font-size: 1rem;
  font-weight: 500;
  color: var(--subtext);
}
